body { font-family: "Open Sans", Helvetica, Arial; }

.app, .intro { max-width: 500px; margin: 10px auto; text-align: center}
.app .place_link { text-decoration: none; }
.app .round_corners_default { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

.main_place { text-align: left; color: #888; }
.main_place .yelp { text-align: right; }
.main_place .header { min-height: 100px; font-size: 20px; color: #666; font-weight: 500; margin-bottom: 15px; font-weight: 600; }
.main_place .header .name {}
.main_place .header .thumbnail { margin: 0px 0px 0px 15px; float: right; }
.main_place .header .rating { float: left; font-size: 14px; margin: 2px 0px 0px 6px; }
.main_place .header .rating img { position: relative; top: 4px; right: 5px; }
.main_place .main { background-color: #eee; padding: 20px; font-size: 15px; }
.main_place .main .category { font-size: 17px; margin-bottom: 20px; }