body { font-family: "Open Sans", Helvetica, Arial; margin:0; padding:0; }

.app { max-width: 500px; margin: 0px auto; text-align: center; }

.app .navbar { position: fixed; z-index: 10101; max-width: 500px; top: 0px; margin: 0px auto; text-align: center; background-color: #47b4ff; height: 50px; font-size: 19px; color: white;}
.app .navbar .text { width: 300px; position: relative; top: 12px; left: -10px; }
.app .navbar img { float: left; width: 50px; }
.app .view_content { margin: 60px 0px 85px; background-color: #fff;  }
.app .footer { position: fixed; left: 0px; bottom: 0px; width: 100%; background-color: #ccc; }
.app .settings { cursor: pointer; position: fixed; top: 0px; right: 0px; z-index: 10102; }
.app .settings img { width: 49px; height: auto; position: relative; top: -24px; }
.app .settings .bg_on { visibility: hidden; top: 13px; width: 26px; height: 24px; left: 11px; position: relative; background-color: #fff;
                        -webkit-border-radius: 11px; -moz-border-radius: 11px; border-radius: 11px;
}
.app .settings.on .bg_on { visibility: visible }

.app .place_link { text-decoration: none; }
.app .round_corners_default { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.app .loader_image { margin-top: 25px; }

#settings_container { text-align: left; margin: 0px 25px; }
#settings_container .settings_row { border-bottom: 1px solid #eee; padding: 20px 0px; font-size: 20px; }
#settings_container .settings_row .settings_switch { float: right;}

.button { width: 35%; float: right; cursor: pointer; background-color: #0097ff; padding: 13px; margin: 10px 0px; font-weight: 600; font-size: 25px; color: #fff; }
#button_container { margin: 0px auto; width: 100%; }
#button_container:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#hold_button { background-color: #0097ff; margin-right: 10px; }
#hold_button.on { background-color: red; }
#next_button { float: left; background-color: green; margin: 10px 15px 0px 10px; }

.main_place { text-align: left; color: #888; margin: 0px 10px; }
.main_place .yelp { text-align: right; }
.main_place .header { display: block; min-height: 100px; font-size: 20px; color: #666; font-weight: 500; margin-bottom: 15px; font-weight: 600; }
.main_place .header .name {}
.main_place .header .thumbnail { margin: 0px 0px 0px 15px; float: right; }
.main_place .header .rating { float: left; font-size: 14px; margin: 2px 0px 0px 6px; }
.main_place .header .rating img { position: relative; top: 4px; right: 5px; }
.main_place .main { background-color: #eee; padding: 20px; font-size: 15px; }
.main_place .main .category { font-size: 17px; margin-bottom: 20px; }
.main_place .main .address { min-height: 50px; display: block; margin-bottom: 20px; }
.main_place .main .address .map_icon { margin: -5px 15px 0px -2px; width: 50px; height: auto; float: left; }
.main_place .main .phone { margin-left: 62px; }

.error {}
.error .title { margin-bottom: 15px;  font-weight: 500; font-size: 20px; }

.error.geo { padding: 27px 0px 0px 10px; text-align: left; height: 65px; }
.error.geo .icon { width: 50px; height: auto; float: left; }
.error.geo .title, .error.geo .message { margin-left: 65px; }